<% if(title) { %>
    <h1><%= title %></h1>

    <% if (errors) { %>
        <ul class="notices">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <section class="account_container">
        <p>Field is required.</p>

        <form class="account_form" action="/inv/new-classification" method="post">
            <label for="classification_name">Classification Name</label>
            <span class="advice">Name must be alphabetic character only</span>
            <input type="text" id="classification_name" name="classification_name" pattern="^([a-zA-Z]){2,}$" value="<%= locals.classification_name %>" required>

            <button class="btn_account">Add Classification</button>
        </form>
    </section>
    
<%} else {
    res.redirect('/inv')
}%>