<div class="error_section">
    <h1 class="error_title"><%= title %></h1>
    <p><%- message %></p>
</div>
<div class="error_image">
    <img src="/images/vehicles/delorean-destroyed.webp" alt="There was an error with the page and cannot be found">
</div>